.container123{
    display: flex;
    background: #13131f;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .container-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:black;
        background-color: #fff;
        width: 450px;
        height: 400px;
        border-radius: 10px;
        box-shadow: 60px 30px 50px rgba(107, 100, 100, 0.2);
        margin-bottom: 200px;
        .username{
            margin-top: 20px;
            margin-left: 2px;
            input{
                background: rgba(0,0,0,.05);
                width: 320px;
                height: 40px;
                border-radius: 20px;
                border: 1px solid transparent;                
                padding-left: 20px;
                font-size: 15px;
            }
            label{
                display: block;
                text-align: left;
                font-size: 20px;

            }
        }
        .password{
            margin-top: 15px;
            .form-control{
              position: relative;
              border: none;
              font-size: 15px;
                .icon{
                    position:absolute;
                    top:18px;
                    right: 25px;
                    cursor: pointer;

                }
            }
            input{
                background: rgba(0,0,0,.05);
                width: 320px;
                height: 40px;
                border-radius: 20px;
                padding-left: 20px;
                border: 1px solid transparent;               
            }
            label{
                display: block;
                text-align: left;
                margin-left: 12px;
                font-size: 20px;
            }
        }
        .button1{
            display: flex;
            width: 500px;
            justify-content: center;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            button{
                background: #f75959;
                width: 250px;
                height: 40px;
                border-radius: 20px;
                border:1px solid #f35588;
                color: white;
                margin-bottom: 20px;
                font-size: 20px;
            }
            .text{
                width: 250px;
                text-align: right;
                a{
                    font-size: 17px;
                }
            }
        }
    }
}
.form-signup{
    display: flex;
    flex-direction: column;
}