.wrap-number1{
    background: 'none';
    transition: all 1s ease-in-out;

    .number1{

        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .number2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100px;
            label{
                border: 2px solid black;
                width: 100%;
            }
            ul{
                margin-top: 2px;
                list-style: none;
                padding-left: inherit;
                border: 2px solid black;
                width: 100%;
                display: none;

             }
        }
       
    }
}
.project-container{
    margin-top: 10px;
    .btn-add{
        text-align: left;
        margin-top: 20px;
        margin-bottom: 10px;
        .btn-add1{
            background-color: palevioletred;
            border: none;
            height: 35px;
            font-size: 18px;
            color: white;
            margin-left: 10px;
        }
    }
    table {
        width: 1500px;
        margin-left: 10px;
        margin-right: 10px;
    }
        td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
        font-size: 20px;
        color: black;
        font-weight: 100px;
      }
      
      tr:hover {background-color: coral;}
}
