.modal-content{
    .modal-header{
        button{
            background: transparent !important;
            border: none;
            font-size: 30px;
        }
        .modal-title{
            color: tomato;
            font-size: 25px;
        }
    }
    .wrapper{
        min-height: 50px;
        max-height: 2000px;
        .child-wrapper{
            display: flex;
            flex-direction: column;
            .child-warraper-up{
                min-height: 50px;
                max-height: 2000px;
                color: black;
                border: 2px solid tomato;
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                margin-bottom: 5px;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25%;
                }
            }
            .child-warraper-down{
                display: flex;
                flex-direction: row;
                min-height: 100px;
                max-height: 5000px;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                border: 1px solid tomato;
                margin-bottom: 2px;
                .child-warraper-1{
                    text-align: center;
                    width: 25%;

                    img{
                        height: 70px;

                    }
                }
                .child-warraper-2{
                    text-align: center;
                    width: 25%;
                    
                }
                .child-warraper-3{
                    text-align: center;

                    width: 25%;
                }
                .child-warraper-4{
                    text-align: center;

                    width: 25%;
                }
                .child-warraper-5{
                    text-align: center;

                    width: 25%;
                }
            }
        }
       
    }
    .modal-footer{
        div{
            font-weight: bold;
            margin-right: 30px;
            span{
                color: tomato;
                font-weight: bold;
                font-size: 25px;
            }

        }
        button{
            div{
                text-align: center;
                width: 100%;
            }
        }
    }
   
}
