.form-add-user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
    align-items: center;
    label{
        display: block;
        width: 350px;
        text-align: left;
    }
    input{
        width: 350px;
    }
}