.container-product{
    display: flex;
    text-align: left;
    height: 640px;
    flex-direction: row;
    .content-left{
        margin-top: 10px;
        border-right: 1px solid rgba(168, 162, 162, 0.3);
        width: 45%;
        margin-left: none;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        .picture-up{
            margin-top: 50px;
            img{
                width: 400px;

            }
        }
        .picture-down{
            display: flex;
            width: 400px;
            border:1px solid grey;
            justify-content: space-between;
            .img-small{
                .active{
                    border: 2px solid rgb(11, 141, 228);
                    }
                img{
                    width:80px;
                    height: 80px;
                    cursor: pointer;
                    margin:5px;
                    text-align: center;
                        
                }
            }
        }
    }

    .content-right{
        width: 55%;
        margin-left: 10px;
        background-color:  #fafafa;;
        margin-top: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-sizing: border-box;
        flex-wrap: wrap;
        .delivery{
            color: black;
            display: flex;
            flex-direction: row;
            margin-left: 15px;
            margin-bottom: 15px;
            font-size: 17px;
            width: 500px;
           .delivery-ojb1{
            margin-right: 40px;
            }
            .delivery-ojb{
            width: 70%;
            img{
                margin-right: 10px;
            }
            }
        }
        .insurance{
            color: black;
            display: flex;
            flex-direction: row;
            margin-left: 15px;
            margin-bottom: 15px;
            font-size: 17px;
            width: 450px;
            margin-top: 15px;
            .insurance-ojb1{
                margin-right: 65px;
            }
            .insurance-ojb2{
                .box-{
                    border: 1px solid red;
                    font-size: 12px;
                    color: white;
                    background: orangered;
                    border-radius: 50%;
                    border-bottom-left-radius: 0;
                }
            }

        }
        .shoes{
            font-weight: 90;
            color:black;
            margin-left: 15px;
            margin-top: 45px;
        }
        .size{
            font-size: 17px;
            color:black;
            margin-left: 15px;
            display: flex;
            .size-ojb1{
                margin-right: 55px;
            }
            .size-ojb2{
                display: flex;
                justify-content: space-between;
                width: 100px;
            }
           
        }
        .color{
            display: flex;
            color: black;
            width: 400px;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 10px;
            margin-right: 22px;
            font-size: 20px;
            .choosecolor{
                border: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 28%;
                font-size: 17px;
            }
            .brown{
                width: 25%;
                border: 1px solid grey;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                font-size: 15px;
            }
            .black{
                width: 25%;
                border: 1px solid grey;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                font-size: 15px;

            }
           
        }
        .quantity{
            font-size: 20px;
            margin-bottom: 15px;
            color: #ff424e;
            font-size: 15px;
            font-weight: 400;
            margin-left: 15px;
        }
        .price{
            color: #ff424e;
            font-size: 32px;
            margin-left: 15px;
            line-height: 40px;
            display: flex;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .input{
            display: flex;
            width: 30px;
            margin-left: 15px;
            font-size: 15px;
            input{
                width: 30px;
                text-align: center;
            }
            button{
                background: white;
                border: 1px solid grey;
            }
            
        }
        .buy{
            background-color: orangered;
            width: 300px;
            height: 45px;
            border-radius: 5px;
            border: none;
            margin-top: 15px;
            color:white;
            font-size:15px;
            font-weight: bold;
            margin-left: 15px;
        }
        
        
    }

}
   
.ril__inner{
    img.ril-image-current.ril__image{
        height: 600px !important;
        width: 600px !important;
        object-fit: contain;
    }
}