.App {
  text-align: center;
}

.App-header {
  background-color: white;
  // background-color: #282c34;
  min-height: 99.7vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (min-width:46.25em) and (max-width: 63.9375em) {
  .App-header{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    width: 900px;
    .wrap-nav{
      width: 898px;
    }
    .project-container{
      width: 898px;
      table{
        width: 890px;
      }
    }
    .Header-container{
      width: 898px;
      .content-top{
        display: flex;
        justify-content: space-between;
        .content-top-right{
          width: 100%;
        }
        .content-top-left{
          display: none;
        }
      }
      .content-bottom-center-bottom{
        display: none;
      }
    }
    .Homepage-container{
      width: 898px;
      .Container-layer0{
        width: 100%;
        .Container-layer0-wrap-up{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-left: 0px;
          margin-right: 0px;

          .content-layer0-right{
            display: none;
          }
          .content-layer0-left{
            width: 100%;
            display: flex;
            height: 100%;
            .carousel{
              
              .carousel-inner{
                width: 898px !important;
                height: 250px !important;
             .w-100{
                width: 898px !important;
                height: 250px !important;
                object-fit: cover !important;
             }  
             .carousel-caption{
                right: 0% !important;
                padding-bottom: 0px !important;
             }  
            }




            }
          }
        }
        .Container-layer0-wrap-down{
          width: 898px;
          .picture4{
            .picture4-down{
              width: 80%;
            }
          }
          .picture2{
            .picture2-down{
              width: 80%;
            }
          }
          .picture7{
            .picture7-down{
              width: 100%;
            }
          }
        }
      }
      .ojb-wrapper{
        .ojb-1{
          width: 90%;
          img{
            border-radius: 270px;
          }
        }
        .ojb-2{
          width: 90%;
        }
        .ojb-3{
          .product{
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .product-top{
              position: relative;
              .cover{
                height: 150px;
                width: 300px;
                display: flex;
                background: white;
                img{
                  height: 140px;
                  width: 300px;
                  object-fit: contain;
                  z-index: 1;
                  margin-top: 10px;
                }
              }
             
            }
          }
        }
      }
    }
    
  }
}